body {
  width: 100%;
}

// movie result main
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 3px solid grey;
  padding: 3.5rem;
  margin-top: 3.5rem;
}

.main-section div {
  width: 45%;
}

h2 + p {
  font-size: 0.9rem;
}

span {
  font-weight: bold;
}

// movie result image 
img {
  width: 100%;
}

// trailer video 
.trailer-section {
  iframe {
    width: 100%;
    margin: 1rem 0;
  }
}

// media query
@media (max-width: 768px) {
.main-section div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  width: 80%;
  margin: 40px auto;
}
}