body {
  width: 100%;
}

// movie result main
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(215, 214, 219), rgb(87, 86, 86)) 1;
  padding: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.main-section div {
  width: 45%;
}

.error-message {
  padding-top: 2rem 0;
  margin: 0;
}

.error-display {
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

h2 + p {
  font-size: 0.9rem;
}

span {
  font-weight: bold;
}

// movie result image 
img {
  width: 100%;
}

// trailer video 
.trailer-section {
  iframe {
    width: 100%;
    min-height: 22rem;
    margin: 1rem 0;
  }
}

.space {
  height: 30vh;
}

// media query
@media (max-width: 768px) {
.main-section div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  width: 80%;
  margin: 40px auto;
}
}

@media (max-width: 390px) {
  .main-section {
    padding: 1.25rem;
  }
  img {
    width: 100%;
    margin-top: 1.5rem;
  }
}
