// Variables

// Fonts
$primaryFont: 'Rationale', sans-serif;
$baseFont: 'Lato', sans-serif;

// Colors
$primaryColor: #1E1C3A;
$accentColor: #630E8B;

// Imports
@import "partials/setup";
@import "partials/header";
@import "partials/section-results";

// body, header sizes, wrapper
html {
  font-size: 125%;
  margin: 0;
}

body {
  background-color: #1E1C3A;
  font-family: $baseFont;
  color: rgb(255, 255, 255);
}

h1, 
h2,
h3,
h4,
button {
  font-family: $primaryFont;
  margin: 0;
}

// wrapper
.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
    p {
      font-size: 1.7rem;
      font-family: $primaryFont;
      margin: 2rem 0;
    }
}

// typography
h1 {
  font-size: 4rem;
  margin: 4rem 0 0 0;
}

h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
  border-bottom: 3px solid white;
  padding-bottom: 1rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

// description
.header-text {
  text-align: center;
  p {
    letter-spacing: 0.025rem;
  }
}

footer {
  text-align: center;
  border-top: 3px solid grey;
  margin-top: 3rem;
  p {
    margin: 20px auto;
    line-height: 2rem;
    width: 280px;
    padding: 0.5rem 0;
    a {
      color: rgb(244, 161, 114);
      text-decoration: none;
    }
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
} 

